/* .maskTest {
    background: 
    radial-gradient(circle at 50% 50%, rgb(154, 154, 154) 50%, rgb(145, 37, 37) 50%, rgb(145, 37, 37) 50%);
    background-size: 20px 10px;
    height: 20px;
    width: 20px;
    transform: rotate(90deg);
} */

body {
    background-color: rgb(238, 238, 115);
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    font-family: 'Barriecito', sans-serif;
    /* font-family: 'Chelsea Market', sans-serif; */
    font-size: 120px;
}

.reset {
    background-color: rgb(255, 255, 255);
    font-size: 28px;
    margin-top: 50px;
    font-family: 'Patrick Hand SC', sans-serif;
}

.final {
    background-color: white;
    font-size: 15px;
}

.redo {
    background-color: white;
    font-size: 15px;
}

.infoBox {
    /* border: 1px solid black; */
    height: 150px;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* font-family: 'Chelsea Market', sans-serif; */
    font-family: 'Patrick Hand SC', sans-serif;
    text-align: center;
    background-color: white;
    border-radius: 50%;
}

.info {
    font-size: 33px;
    margin-left: 90px;
}

.winCont, .loseCont, .welcCont {
    display: flex;
    justify-content: center;
}
.winner, .loser, .welcome {
    position: absolute;
    height: 400px;
    width: 500px;
    top: 170px;
    z-index: 1000;
    background-color: rgb(102, 252, 60);
    border: 20px solid black;
    margin: 0 auto;
    font-size: 35px;
    text-align: center;
    display: none;
}

.loser {
    background-color: rgb(255, 143, 118) !important;
}

h2 {
    font-family: 'Barriecito', sans-serif;
    font-size: 80px;
    margin: 10px;
    margin-top: 50px;
}

p {
    font-family: 'Patrick Hand SC', sans-serif;
    margin: 30px;
    font-size: 40px;
}

.welcome {
    /* display: block; */
    display: none;
    height: 510px;
    width: 850px;
    top: 175px;
    background-color: rgb(253, 235, 37);
}

h3 {
    font-family: 'Barriecito', sans-serif;
    font-size: 60px;
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.p2 {
    font-size: 38px;
    margin: 20px;
}

ul {
    margin-top: 20px;
    margin-bottom: 0px;
}

li {
    font-family: 'Patrick Hand SC', sans-serif;
    font-size: 30px;
    list-style: none;
    margin: 0px 30px 0px 20px;
}

.small {
    font-size: 20px;
    margin: 50px;
}

.exit1, .exit2, .exit3 {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Patrick Hand SC', sans-serif;
    cursor: pointer;
}

.boardContainer {
    /* display: grid; */
    display: flex;
    justify-content: center;
    gap: 80px;
}

.yardBoundBox {
    /* border: 1px solid black; */
    height: 240px;
    width: 360px;
    position: absolute;
    z-index: 2;
    margin-right: 44px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    flex: none;
    /* pointer-events: none; */
}

.yardBoundDiv {
    /* background-color: green; */
    /* border: .5px dashed black; */
    height: 20px;
    width: 20px;
    margin: 1px;
}

.leftBoundBox {
    height: 308px;
    width: 134px;
    border: 1px solid black;
    position: absolute;
    margin-top: 0px;
    margin-right: 262px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    flex: none;
}

.centerBoundBox {
    height: 308px;
    width: 134px;
    border: 1px solid black;
    position: absolute;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    flex: none;
}

.rightBoundBox {
    height: 308px;
    width: 134px;
    border: 1px solid black;
    position: absolute;
    margin-top: 0px;
    margin-left: 262px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    flex: none;
}

.zoneDiv {
    height: 20px;
    width: 20px;
    margin: 1px;
    background-color: white;
}

.grillBoundBox {
    /* border: 1px solid black; */
    height: 130px;
    width: 380px;
    position: absolute;
    z-index: 2;
    margin-right: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    flex: none;
}

.grillBoundDiv {
    height: 20px;
    width: 20px;
    margin: 1px;
}

.yardContainer, .grillContainer {
    /* border-bottom: 8px dotted black; */
    height: 310px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    flex: none;
    position: relative;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.yardDiv {
    background-color: rgb(8, 225, 41);
    border: .5px dashed rgb(206, 254, 130);
    height: 20px;
    width: 20px;
    margin: 0px;
}

.grillDiv {
    background-color: rgb(154, 154, 154);
    border: .5px dashed rgb(215, 215, 215);
    height: 20px;
    width: 20px;
    margin: 0px;
}

.raccoons {
    height: 88px;
    display: flex;
    gap: 30px;
}

.raccoon1, .raccoon2, .raccoon3 {
    width: 70px;
    height: 88px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    flex: none;
    position: relative;
    right: 2px;
    bottom: 1px;
}

.r1, .r2, .r3, .r4, .r5, .r6, .r7, .r8, .r9, .r10, .r11, .r12 {
    background-color: grey;
    height: 20px;
    width: 20px;
    padding: 1px;
}

.r1 {
    border-top-right-radius: 100%;
    border-top-left-radius: 20%;
}

.r2 {
    opacity: 0;
}

.r3 {
    border-top-left-radius: 100%;
    border-top-right-radius: 20%;
}

.r7, .r8, .r9 {
    background-color: black;
}

.r7 {
    border-bottom-left-radius: 40%;
}

.r9 {
    border-bottom-right-radius: 40%;
}

.r10, .r12 {
    opacity: 0;
}

.r11 {
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.hotdogs {
    height: 200px;
    display: flex;
    gap: 40px;
}

.hotdog1, .hotdog2, .hotdog3 {
    height: 200x;
    width: 44px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    flex: none;
    position: relative;
    right: 1px;
    bottom: 0px;
    z-index: 999;
    cursor: pointer;
}

.h1, .h2, .h3, .h4, .h5, .h6, .h7, .h8, .h9, .h10, .h11, .h12, .h13, .h14, .h15, .h16, .h17, .h18 {
    background-color: rgb(145, 37, 37);
    height: 20px;
    width: 20px;
    padding-bottom: 2px;
}

 .h1 {
    border-top-left-radius: 100%;
}
.h2 {
    border-top-right-radius: 100%;
}

.h17 {
    border-bottom-left-radius: 100%;
}
.h18 {
    border-bottom-right-radius: 100%;
} 

@media (max-width: 900px) {

    .boardContainer {
        gap: 20px;
    }

    .boxContainer {
        gap: 10px;
    }

    .welcome {
        width: 700px;
    }
    
    h3 {
        margin-top: 20px;
    }
    
    .p2 {
        font-size: 35px;
        margin: 20px;
    }
    
    ul {
        margin-top: 10px;
        margin-bottom: 0px;
    }
    
    li {
        font-size: 30px;
        margin: 0px 50px 0px 20px;
    }
    
    .small {
        margin: 45px 0px 0px -40px;
    }


@media (max-width: 830px) {

    h1 {
        font-size: 100px;
    }

    .infoBox {
        width: 400px;
        gap: 30px;
    }

    .hotdogs {
        display: flex;
        gap: 30px;
    } 

    .raccoons {
        gap: 20px;
    }

    .boardContainer {
        display: grid;
        gap: 20px;
    }
   
    @media (max-width: 600px) {

        h1 {
            font-size: 80px;
        }
    
        .infoBox {
            width: 400px;
            gap: 20px;
        }
    
        .hotdogs {
            gap: 20px;
        } 
    
        .raccoons {
            gap: 10px;
        }
    
        .winner, .loser {
            height: 320px;
            width: 400px;
            border: 15px solid black;
        }

        h2 {
            font-size: 70px;
            margin: 10px;
            margin-top: 30px;
        }
        
        p {
            font-family: 'Patrick Hand SC', sans-serif;
            margin: 30px;
            font-size: 35px;
        }
        
        .exit1, .exit2, .exit2 {
            right: 10px;
            top: 10px;
            font-size: 20px;
        }

        .welcome {
            width: 400px;
            height: 560px;
        }
        
        h3 {
            font-size: 40px;
            margin: 30px 50px 10px 50px;
        }
        
        .p2 {
            font-size: 28px;
            margin: 10px;
            margin-top: 25px;
        }
        
        ul {
            margin-top: 0px;
        }
        
        li {
            font-size: 28px;
            margin: 0px 50px 0px 20px;
        }
        
        .small {
            margin: 35px 10px 0px -30px;
        }
    }
}
     
}