body {
    background-color: rgb(238, 238, 115);
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 80px;
    margin-top: 30px;
    font-family: 'Barriecito', sans-serif;
    /* font-family: 'Chelsea Market', sans-serif; */
    font-size: 120px;
}

.reset {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 50px;
}

.final {
    background-color: white;
    font-size: 15px;
}

.redo {
    background-color: white;
    font-size: 15px;
}

.infoBox {
    /* border: 1px solid black; */
    height: 100px;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    font-family: 'Chelsea Market', sans-serif;
    /* font-family: 'Patrick Hand SC', sans-serif; */
    text-align: center;
    background-color: white;
    border-radius: 50%;
}

.boardContainer {
    /* display: grid; */
    display: flex;
    justify-content: center;
    gap: 80px;
}

.yardBoundBox {
    /* border: 1px solid black; */
    height: 240px;
    width: 360px;
    position: absolute;
    z-index: 2;
    margin-right: 44px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    flex: none;
    /* pointer-events: none; */
}

.yardBoundDiv {
    /* background-color: green; */
    /* border: .5px dashed black; */
    height: 20px;
    width: 20px;
    margin: 1px;
}

/* .horizBoundBox {
    height: 290px;
    width: 244px;
    border: 1px solid black;
    position: absolute;
    margin-top: 22px;
    margin-right: 153px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    flex: none;
} */

/* .horizDiv {
    height: 20px;
    width: 20px;
    margin: 1px;
    background-color: white;
} */

.grillBoundBox {
    /* border: 1px solid black; */
    height: 130px;
    width: 380px;
    position: absolute;
    z-index: 2;
    margin-right: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    flex: none;
}

.grillBoundDiv {
    height: 20px;
    width: 20px;
    margin: 1px;
}

.yardContainer, .grillContainer {
    /* border-bottom: 8px dotted black; */
    height: 310px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    flex: none;
    position: relative;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.yardDiv {
    background-color: rgb(66, 216, 76);
    border: .5px dashed rgb(153, 255, 10);
    height: 20px;
    width: 20px;
    margin: 0px;
}

.grillDiv {
    background-color: rgb(154, 154, 154);
    border: .5px dashed rgb(215, 215, 215);
    height: 20px;
    width: 20px;
    margin: 0px;
}

.raccoons {
    height: 88px;
    display: flex;
    gap: 30px;
}

.raccoon1, .raccoon2, .raccoon3 {
    width: 70px;
    height: 88px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    flex: none;
    position: relative;
    right: 2px;
    bottom: 1px;
}

.r1, .r2, .r3, .r4, .r5, .r6, .r7, .r8, .r9, .r10, .r11, .r12 {
    background-color: grey;
    height: 20px;
    width: 20px;
    padding: 1px;
}

.r1 {
    border-top-right-radius: 100%;
    border-top-left-radius: 20%;
}

.r2 {
    opacity: 0;
}

.r3 {
    border-top-left-radius: 100%;
    border-top-right-radius: 20%;
}

.r7, .r8, .r9 {
    background-color: black;
}

.r7 {
    border-bottom-left-radius: 40%;
}

.r9 {
    border-bottom-right-radius: 40%;
}

.r10, .r12 {
    opacity: 0;
}

.r11 {
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.hotdogs {
    height: 200px;
    display: flex;
    gap: 40px;
}

.hotdog1, .hotdog2, .hotdog3 {
    height: 200x;
    width: 44px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    flex: none;
    position: relative;
    right: 1px;
    bottom: 0px;
    z-index: 999;
    cursor: pointer;
}

.h1, .h2, .h3, .h4, .h5, .h6, .h7, .h8, .h9, .h10, .h11, .h12, .h13, .h14, .h15, .h16, .h17, .h18 {
    background-color: rgb(145, 37, 37);
    height: 20px;
    width: 20px;
    padding-bottom: 2px;
}

 .h1 {
    border-top-left-radius: 100%;
}
.h2 {
    border-top-right-radius: 100%;
}

.h17 {
    border-bottom-left-radius: 100%;
}
.h18 {
    border-bottom-right-radius: 100%;
} 

@media (max-width: 900px) {
    
    h1 {
        margin-top: 20px;
        margin-bottom: 80px;
    }

    .infoBox {
        margin-bottom: 80px;
    }

    .boardContainer {
        justify-content: center;
        gap: 20px;
    }

    .boxContainer {
        gap: 10px;
    }

@media (max-width: 830px) {

    h1 {
        margin-bottom: 60px;
        font-size: 80px;
    }

    .infoBox {
        width: 400px;
        gap: 30px;
    }

    .hotdogs {
        display: flex;
        gap: 30px;
    } 

    .raccoons {
        gap: 20px;
    }

    .boardContainer {
        display: grid;
        gap: 20px;
    }
   
    @media (max-width: 600px) {

        h1 {
            margin-bottom: 70px;
        }
    
        .infoBox {
            width: 400px;
            gap: 20px;
        }
    
        .hotdogs {
            display: flex;
            gap: 20px;
        } 
    
        .raccoons {
            gap: 10px;
        }
    
    }
}
     
}